    @font-face {
  font-family: 'bebas';
  src: url('/fonts/bebas.eot');
  src: url('/fonts/bebas.eot?#iefix') format('embedded-opentype'),
       url('/fonts/bebas.woff') format('woff'),
       url('/fonts/bebas.ttf') format('truetype'),
	   url('/fonts/bebas.svg') format('svg');}
	   
	   
	   
    
	::selection {background: #000; color:white;}
	
	
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, em, ul, li, footer, header, menu, nav, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

    body {
	    background: #fff;
		line-height: 1;
		
	}

    ul {
		list-style: none;
	}


    table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	a{text-decoration:none;}
    a:hover{transition:color .4s ease-in 0s;}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
	}

    iframe{box-shadow: 5px 5px 5px #888888;}
	

/* Basic */

	@-ms-viewport {
		width: device-width;
	}


	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3 {
		color: #000;
		font-family:bebas;
		letter-spacing: 0.18em;
		text-transform: uppercase;
	}
	
/* Nav */

header#main {
    position: fixed;
    width: 100%;
    z-index: 10;
	box-shadow: 4px 1px 5px 1px rgba(0,0,0,0.75);
}


.container {
  width: 95%;
  margin: 0 auto;
}

header {
  background: #FFFFFF;
  padding: 1em 0 !important;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo-container {
  float: left;
  margin-left:1em;
}

.site-nav {
  position: absolute;
  top: 2.3em;
  right: 0;
}

.site-nav--open {
}

.site-nav ul {
  
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: none;
  display:inline-block;
  margin-left:3em;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  font-family:abel;
  color: #333;
  letter-spacing:2px;
  padding:1.3em;
  text-transform: uppercase;
  text-decoration: none;
  text-align:center;
}

a.login-nav {
    color: white;
    background: #ef7899;
	font-size:0.8em;
    padding-top: 3.1em !important;
    padding-bottom: 2.87em !important;
    padding-left: 2em !important;
    padding-right: 2em!important ;
	transition:background 0.5s ease-in-out;
}

a.login-nav:hover {
	background:#000 !important;
	color:white !important;
}

i.fa.fa-sign-in {
    padding-right: 0.3em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #333;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1.6em;
  right: .7em;
  cursor: pointer;
  z-index:101;
  display:none;
}


.page .menu-toggle{
	top: 2.2em;
	display:none;
}

.page .appear .menu-toggle{
	top:2.1em;
	display:none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #595959;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.page .hamburger,
.page .hamburger::before,
.page .hamburger::after {
	background:#fff;
}


.page .appear .hamburger,
.page .appear .hamburger::before,
.page .appear .hamburger::After{
	background:#595959;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
  background:white;
}

.page .appear .open .hamburger {
	background:white;
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
  background:white;
}

.page .appear .open .hamburger::after {
	background:white;
}




/* hover effects */
a.vert:before,a.vert:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.vert:before{
  top:-0.25em;
}
a.vert:after{
  bottom:-0.25em;
}
a.vert:before,a.vert:after{
  height:1px;
  width:0;
  background:#333;
}

.liner{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:1.2em;
  overflow:hidden;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.liner a{
  position:static;
  font-size:0.9em;
}
.liner:before,.liner:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
   backface-visibility:hidden;
  position:absolute;
  width:1px;
  height:0;
  background:#333;
}
.liner:before{
  left:0;
  bottom:-0.2em;
}

.liner:after{
  right:0;
  top:-0.2em;
}

.liner a:before{
  left:0;
  transition:0.25s all ease;
}
.liner a:after{
  right:0;
  transition:0.25s all ease;
}

.liner:hover:before,.liner:hover:after{
  height:calc(100% + 0.4em);
}
.liner:hover a:before,.liner:hover a:after{
  width:100%;
}

.appear{
	position:fixed;
	width:100%;
	z-index:6;
	box-shadow: 2px 1px 10px #333;
}
	
/* Section/Article */

    section.layout{
		text-align: center;
	}

	header p {
		color: rgba(255, 255, 255, 0.5);
		position: relative;
		top: -0.25em;
	}

	header.tom {
		margin: 0 0 3.5em 0;
	}

	header.tom h2, header.tom h3, header.tom {
		font-size:1.5em;
		font-weight:bold;
		display: block;
		position: relative;
		}

	header.tom p {
		color: #000;
		top: 0;
		}
		
	.border {
		display: block;
		height: 3px;
		width: 100px;
		margin: 15px auto 0;
		margin-top: 2em;
		margin-bottom:2em;
		background-color: #99ccea;
		opacity: 0.7;
}	


			
/* Section */
    section#one { 
		background:#fff;
		}
		
	section#one .border{
			margin-bottom:1em;
	}
	
	section#one .merge {
    width: 70%;
}
		
	p#timer {
    color: black;
    font-family: abel;
    letter-spacing: 2px;
	font-weight: normal;
    font-size: 1.5em;
	margin-bottom:1em;
}

	p#timer2 {
    color: black;
    font-family: abel;
    letter-spacing: 2px;
	font-weight: normal;
    font-size: 1.5em;
	margin-bottom:1em;
}

    p.ICO {
		font-family:bebas;
		margin-bottom: 0.5em;
		margin-top: 1em;
		letter-spacing: 2px;
		font-size: 2em;
	}
	
	span.Sec {
    font-weight: normal;
    margin-left: 0.2em;
	}
	
	button.invest{
		background:transparent;
		border:none;
	}
	
	a.invest {
		color: black;
		font-family: abel;
		font-size:0.8em;
		font-weight:normal;
		letter-spacing: 3px;
		padding: 12px 30px;
		background:white !important;
		border:1px solid #333 !important;
		box-shadow: inset 0 0 0 0 #333;
		-webkit-transition: all ease 1s !important;
		-moz-transition: all ease 1s !important;
		-ms-transition: all ease 1s !important;
		-o-transition: all ease 1s !important;
		transition: all ease 1s !important;
}

	a.invest:hover{
		cursor:pointer;
		box-shadow: inset 200px 0 0 0 rgba(1,1,1,1) !important;
		color:white;
	}
	
	
	
	.slide-container{
		width:100%;
	}
	
	
	div#slide1 img {
    margin-top: 2em;
    margin-bottom: 2em;
}
	
	.slide{
		display:inline-block;
	}
	
	.left-button , .right-button{
		display:inline-block;
		margin-top: 6em;
		color: black;
		background: white;
		border: 1px solid black;
		font-size: 0.7em;
		padding: 0.7em;
		padding-left: 1em;
		padding-right: 1em;
	}
	
	.left-button:hover , .right-button:hover {
		cursor:pointer;
	}
	
	.left-button{
		float:left;
	}
	
	.right-button{
		float:right;
	}
	
	
	section#two { 
		background:#272727;
		background:white;
		background-image: -moz-linear-gradient(top, rgba(10,10,10,0.8), rgba(10,10,10,0.8)), url("/img/newsletter.jpg");
		background-image: -webkit-linear-gradient(top, rgba(10,10,10,0.8), rgba(10,10,10,0.8)), url("/img/newsletter.jpg");
		background-image: -ms-linear-gradient(top, rgba(10,10,10,0.8), rgba(10,10,10,0.8)), url("/img/newsletter.jpg");
		background-image: linear-gradient(top, rgba(10,10,10,0.8), rgba(10,10,10,0.8)), url("/img/newsletter.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover
		}
		
	section#two .merge{
		width:80%;
	}
		
	section#two	header.tom {
		background:transparent;
		width:100%;
	}
	
	section#two h2{
		color:white;
	}
	
	
	input.input-section {
		width: 40%;
		height: 2.5em;
		font-family: abel;
		text-transform: uppercase;
		text-indent: 5px;
		border: none;
}

.local p {
    color: white !important;
    font-family: abel;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 0.8em;
}

	button.submit-section {
    width: 10%;
    background-color: white;
    padding: 0.54em;
    border: none;
    font-family: abel;
    font-size: 0.6em;
	transition: background 0.4s ease-in-out;
}

	button.submit-section:hover{
		cursor:pointer;
		color:white;
		background:#00bfff;
	}

   
   section#why{
	  background:white;
   }
   
   section#why .merge{
	   width:100%;
   }

   .why-box {
    display: inline-block;
	vertical-align: top;
	width:20%;
	margin:1em;
}

	.why-box-content{
		display:block;
		text-align:center;
	}
	
	i.fa.fa-life-ring {
    width: 100%;
	font-size:1em;
}

	i.fa.fa-usd {
    width: 100%;
	font-size:1em;
}

	i.fa.fa-rocket {
    width: 100%;
	font-size:1em;
}

	i.fa.fa-universal-access {
    width: 100%;
	font-size:1em;
}

	.why-box-content h2{
		font-size:1em !important;
		width:100%;
		margin-top:1em;
		margin-bottom:1em;
	}
	
	.why-box-content p{
		width:100%;
	}

	.why-box p {
    font-family: abel;
    font-weight: normal;
    font-size: 0.7em;
	line-height: 1.2em;
    letter-spacing: 1px;
}


    section#three {
		background:white;
		background-image: -moz-linear-gradient(top, rgba(10,10,10,0.5), rgba(10,10,10,0.5)), url("/img/faq.jpg");
		background-image: -webkit-linear-gradient(top, rgba(10,10,10,0.5), rgba(10,10,10,0.5)), url("/img/faq.jpg");
		background-image: -ms-linear-gradient(top, rgba(10,10,10,0.5), rgba(10,10,10,0.5)), url("/img/faq.jpg");
		background-image: linear-gradient(top, rgba(10,10,10,0.5), rgba(10,10,10,0.5)), url("/img/faq.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
		
	section#three h2 {
		margin-bottom:1.5em;
		color:white;
	}
		
	section#three p {
        color:white;
		font-weight:normal;
	}

	section#three .merge{
		width:80%;
		background:transparent;
	}		
	
	section#three header.tom {
    background: transparent;
}

    section#four {
		background: #ddd;
		}

    #four .merge {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		max-width: 45em;
	}

	#four .merge header {
	    -moz-order: 1;
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
		padding-right: 3em;
		width: 70%;
		}

	#four .merge header p {
		color: inherit;
		}

	#four .merge .actions {
		-moz-order: 2;
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
		width: 30%;
		}
		
		
	.statement {
    width: 80%;
    display: inline-block;
    font-family: abel;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: 0.03em;
}


/* Wrapper */

    .wrapper {
		padding: 6em 0 4em 0 ;
		z-index:1;
	}

    .wrapper > .merge {
     	width: 60em;
		margin: 0 auto;
		}

/* Page */
	#main-page{
		background:transparent;
		position:absolute;
		width:100%;
		height:100px;
		top:0;
		transition: background 600ms ease-in-out;
		z-index:3;
	}
	
	#main-page .site-nav{
		right:2em;
		top:2.8em;
		display:none;
	}
	
	#main-page .site-nav a{
		color:white;
	}
	
	#main-page a.login-nav{
		background:#2ad4dc;
		padding: 1em !important;
		font-size:0.8em;
		color:black;
	}
	
	#main-page a.login-nav:hover{
		background:#FFF !important;
		color:black !important;
	}
	
	#main-page a.vert:before,#main-page a.vert:after{
		background:#fff;
	}

	
	#main-page .liner:before,#main-page .liner:after{
		background:#fff;
	}
	
	
	#main-page .logo-container{
		background-image: url("/img/cryptocurve-logo-white2.png");
		background-size:contain;
		background-repeat:no-repeat;
		width:300px;
		height:65px;
		transition:width 500ms ease-in-out;
		position:absolute;
		top:1em;
	}
	
	.appear .logo-container{
		background-image: url("/img/cryptocurve-logo.png") !important;
		width:200px !important;
		top:1.5em !important;
	}
	
	a.got {
    display: block;
    height: 100%;
	}
		
	
	#logo2 {display:none;}
	
	
	.appear{
		position:fixed !important;
		background:white !important;
		top:0;
		width:100%;
		z-index:6;
		box-shadow: 2px 1px 10px #333;
}

    .appear .site-nav{
		top:2.4em !important;
	}
	
    .appear .site-nav a{
		color:#333 !important;
	}
	
	.appear nav.site-nav.site-nav--open a{
		color:white !important;
	}
	
	.appear a.login-nav:hover{
		color:white !important;
		background:black !important;
	}
	
	.appear a.vert:before,.appear a.vert:after{
		background:#333 !important;
	}
	
	.appear .liner:before,.appear .liner:after{
		background:#333 !important;
	}
	
	


	 body.page {
		width: 100%;
		background-color:white;
		position:relative;
}

     .page-content{
		 width:100%;
		 margin:auto;
		 background-color:white;
		 margin-top:5em;
		 margin-bottom:5em;
	 }
	 
	 .page-content p{
		 font-family:abel;
		 letter-spacing:1px;
	 }
	 
	 .page-top {
		 background-image: -moz-linear-gradient(top, rgba(1,1,1,0.5), rgba(20,0,0,0.5)), url("/img/ico.jpg");
		background-image: -webkit-linear-gradient(top, rgba(1,1,1,0.5), rgba(20,0,0,0.5)), url("/img/ico.jpg");
		background-image: -ms-linear-gradient(top, rgba(1,1,1,0.5), rgba(20,0,0,0.5)), url("/img/ico.jpg");
		background-image: linear-gradient(top, rgba(1,1,1,0.5), rgba(20,0,0,0.5)), url("/img/ico.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 100vh;
		min-height: 25em;
		overflow: hidden;
		position: relative;
		text-align: center;
	 }
	 
	 .title-container h1{
		 font-family:abel;
		 color:white;
		 font-weight:normal !important;
		 font-size:1.7em !important;
		 margin-top:0em !important;
		 margin-bottom:0 !important;
		 letter-spacing:0.5em !important;
	 }
	 
	 .title-container h2{
		 color:white;
	 }
	 
	 .page h1 {
		font-size:2em;
		font-weight: bold;
		margin-bottom: 2em;
		margin-top: 3em;
}

      .page h2{
		  margin-top:1em;
		  margin-bottom:0.3em;
		  text-align:Center;
	  }
	  
	  
	  .returns-container {
		width: 100%;
		padding-bottom: 3em;
		margin: auto;
		text-align: center;
}

	  .returns-container h2{
		  margin-top:0.5em;
		  margin-bottom:1em !important;
	  }
	  
	  .returns-container img{
		  margin-right: 0.2em;
	  }
	  
	  .pricing-container{
		  display:inline-block;
		  font-family:abel;
		  margin-right:1em;
	  }
	  
	  .pricing-container2{
		  display:inline-block;
		  font-family:abel;
	  }
	  
	  .pricing {
		 letter-spacing: 2px;
		 font-family:bebas;
		 text-transform: uppercase;
		 margin-bottom: 0.3em;
	  }
	  
	  
	  .pricing2 {
		 letter-spacing: 2px;
		 font-family:bebas;
		 text-transform: uppercase;
		 margin-bottom: 0.3em;
	  }
	  
	  .ico-price {
		 color: #7b7777;
	 }
	 
	  .bat-price{
		 color:#7b7777;
	  }
	  
	  .returns {
		 margin-top: 0.5em;
		 font-family: bebas;
		 background: black;
		 color: white;
		 padding-top:0.3em;
		 padding-bottom:0.3em;
		 border-radius:4px;
		 letter-spacing:2px;
	 }
	  
	  .erc{
		  margin:1.5em;
	  }
	  
	  
	  #augur{
		  width:20%;
		  text-align: center;
		  display:inline-block;
	  }
	  
	  #go{
		  width:20%;
		  text-align: center;
		  display:inline-block;
	  }
	  
	  
	  #stratis{
		  width:20%;
		  text-align: center;
		  display:inline-block;
	  }
	  
	  
	  #bat{
		  width:20%;
		  text-align: center;
		  display:inline-block;
	  }
	  
	  
/* Metamask Page */
	
	body.invest {
		width: 100%;
		background-color:white;
	}
	
	.page-content-meta{
		 width:90%;
		 margin:auto;
		 background-color:white;
		 margin-top:5em;
		 margin-bottom:5em;
	 }
	
	.invest .footer {
    margin-top: 10em;
}
	
	.invest h1 {
		font-size:2em;
		font-weight: bold;
		margin-bottom: 1em;
		margin-top: 3em;
}

     .invest h2{
		  margin-top:3em;
		  margin-bottom:1em;
		  font-family:abel;
		  font-weight:normal;
		  font-size:1.5em;
		  text-align:center;
	  }
	  
	  
	  
	  .table1{
		  width:100%;
		  display:inline-block;
		  margin-top:0em;
	  }
	  
	  .table2{
		  width:100%;
		  display:inline-block;
	  }
	
	#ethBalance{
		font-family:Abel;
	}
	
	#ethAddress{
		font-family:abel;
	}


	table.meta {
		margin:auto;
		border: 1px solid black;
}
	table.meta a{
		color:#00bfff;
	}
	
	table.meta a:hover{
		color:black;
	}

	table.meta thead {
		border: 1px solid black;
}

	table.meta td {
		font-family: abel;
		font-size:1em;
		font-weight:normal;
		letter-spacing: 1px;
		padding: 1em;
		border-bottom: 1px solid black;
}

	table.meta th {
		font-family: abel;
		font-size:1em;
		font-weight:normal;
		letter-spacing: 2px;
		background: #000;
		color: white;
	}
	
	th#ether {
    padding-right: 2.5em;
	
}
	
	th.space {
		padding-right:0;
	}
	
	input.js-txtDeposit {
    border: 1px solid #ddd;
    font-family: abel;
    text-indent: 5px;
	background:white;
	width:50%;
}

	button.js-btnWithdraw {
    font-family: abel;
    color: black;
    background: #ff6939;
    border: none;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 0.5em;
	width:120px;
	transition:background 500ms ease-in-out;
	
}

	button.js-btnWithdraw:hover {
    cursor:pointer;
	background:#ff5620;
	
}

	button.js-btnDeposit {
	font-family: abel;
    color: black;
    background: #3fb17c;
    border: none;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 0.5em;
	width:40%;
	transition:background 500ms ease-in-out;
	
}

	button.js-btnDeposit:hover {
		cursor:pointer;
		background:#2e9a68;
}
	
	i.fa.fa-arrow-circle-up {
    margin-right: 5px;
    font-size: 0.9em;
    align-self: center;
}
		
	i.fa.fa-arrow-circle-down {
    margin-right: 5px;
    font-size: 0.9em;
    align-self: center;
}	

    p.action {
    text-align: initial;
    font-size: 0.9em;
    display: inline-block;
	margin:0;
}


	.baseline {
    display: inline-block;
    width: 270px;
	}

	td#meta-deposit {
		
	}
	
	td#ICO-Date{
		width:100%;
		text-align:center;
	}

	td.js-etherDeposited {
    width: 20%;
}
	td.js-tokenBalance {
    text-align: center;
}

/* Second Header */
    #main2{
		margin-top:0em;
		background:black;
		
	}
	
	#main2 .site-nav a{
		color:white;
	}
	
	#main2 .site-nav a:hover{
		color:#00bfff;
	}

	#main2 a.login-nav{
		display:none;
	}
		
	
	 
/* Accordeon styles */	 
	 .half {
		display:inline-block;
		width: 80%;
		padding: 0 1em;
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  font-weight: normal;
  font-size: 0.8em;
  overflow: hidden;
}
input.accordion {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label.accord {
  position: relative;
  display: block;
  background: #fff;
  color: #333;
  font-family: abel;
  letter-spacing:2px;
  line-height: 3;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: transparent;
  -webkit-transition: max-height .5s;
  -o-transition: max-height .5s;
  transition: max-height .5s;
  margin-bottom:0.2em;
}

.tab-content p {
  margin: 1em;
  font-family:abel;
  color:white;
  text-align:left;
  line-height:1.2em;
  font-size:0.9em;
}

/* :checked */
input:checked ~ .tab-content {
  max-height: 12em;
}

/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

		

/* Banner */

	#banner {
		background-image: -moz-linear-gradient(top, rgba(1,1,1,0.5), rgba(200,0,0,0.5)), url("/img/blockchain.jpg");
		background-image: -webkit-linear-gradient(top, rgba(1,1,1,0.5), rgba(200,0,0,0.5)), url("/img/blockchain.jpg");
		background-image: -ms-linear-gradient(top, rgba(1,1,1,0.5), rgba(200,0,0,0.5)), url("/img/blockchain.jpg");
		background-image: linear-gradient(top, rgba(1,1,1,0.5), rgba(200,0,0,0.5)), url("/img/blockchain.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 60vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}

	#banner h2 {
	    display: inline-block;
		font-family:bebas;
		color:white;
		font-size: 3em;
		opacity: 1;
		padding: 0.35em 1em;
		padding-top: 0.8em;
        padding-bottom: 0.8em;
		margin: 0 0 1em 0;
	    position: relative;
		z-index: 1;
		}

	#banner h2:before, #banner h2:after {
		background: #fff;
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		width: 100%;
		}

	#banner h2:before {
		top: 0;
		left: 0;
			}

	#banner h2:after {
		bottom: 0;
		right: 0;
			}

	#banner p {
		font-family:abel;
		color:white;
		letter-spacing: 0.23em;
		font-size:1.2em;
		line-height:1.3em;
		margin-bottom:3em;
		}

	#banner p a {
		color: inherit;
		}
		
	a.button.special {
		color: white;
		font-family: bebas;
		letter-spacing: 3px;
		padding: 12px 50px;
		background:rgba(1,1,1,0.7) !important;
		border:none !important;
		box-shadow: inset 0 0 0 0 #333;
		-webkit-transition: all ease 1s !important;
		-moz-transition: all ease 1s !important;
		-ms-transition: all ease 1s !important;
		-o-transition: all ease 1s !important;
		transition: all ease 1s !important;
	}

	a.button.special:hover{
		box-shadow: inset 200px 0 0 0 rgba(250,250,250,0.9) !important;
		color:black;
	}


   /* Footer */
    .footer{background:white;width:100%;height:400px;display:flex;justify-content:center;text-align:center;}
	.footercolumns{width:80%;display:inline-block;float:none;align-self:center;}
	.footercolumn{width:40%;display:inline-block;}
	div#col1 {float: left;}
	div#col2 {float: right;}

	h3.footertitle {font-family: abel;margin-bottom:1.5em;}
	
	.powered{width:100%;text-align:center;background:white;padding-bottom:0.5em;}
    .thing1{display:inline-block;font-family: abel;letter-spacing: 2px;font-size: 15px;color:#333;}

    .thing1 img{width:20px; height:30px; vertical-align:-70%;}
	
	/* Footer Page */
	
	
	.invest .footer-page{
		background:black;
	}
	
	.footer-page{
		background:black;
		width:100%;
		height:400px;
		display:flex;
		justify-content:center;
		text-align:center;
		position:relative;
		overflow:hidden;
		margin-top:3em;
	}
	
	h3.footertitle-page{
		color:white;
		font-family:abel;
		margin-bottom:1.5em;
	}
	
	.footer-page a.social{
		background:transparent;
		color:#fff;
		overflow:visible;
	}
	
	.powered-page{
		width:100%;
		text-align:center;
		background:#000;
		padding-bottom:0.5em;
		position: relative;
		}
	
	.thing1-page{
		display:inline-block;
		font-family: abel;
		letter-spacing: 2px;
		font-size: 12px;
		color:#FFF;
	}
	
	.footer-page button.subscribe-submit{
		background:#2ad4dc;
		color:black;
	}
	
	.footer-page button.subscribe-submit:hover{
		background:#FFF;
	}
	
	
	/*social icons*/

ul.social-icons {height: 50px;}
li.soc {display: inline-block;margin-left:2%;}


a.social {
    color: #fff;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 100%;
	vertical-align: middle;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   display:inline-block;
   position: relative;
   overflow: hidden;
   background:#000;
   -webkit-transition-property: color;
   transition-property: color;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

a.social:before {
  content: "";
  position:absolute;
  border-radius:50%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.social:hover, .social:focus, .social:active {
  color: white;
  background:transparent;
}
.social:hover:before, .social:focus:before, .social:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

a.social:hover{
  color:white;
}

a#face{
  padding-left:19px;
  padding-right:19px;
}

a#face:before {
    background: #3b5998;
    padding-left: 13px;
    padding-right: 13px;
}

a#face:hover{
	
}
	
a#twit:before {
    background:#00aced ;
}	

a#twit:hover{
}

a#you:before {
    background:#bb0000;
}

a#you:hover{
}

a#sla:before {
    background:#e7ea09;
}

a#sla:hover{
}

a#med:before {
    background:#7cd476;
}

a#med:hover{
}

a#mail:before {
	background:#e42dac;
}


   /* Footer Newsletter */
    button.subscribe-submit {
       display: block;
       margin: auto;
       width: 100%;
	   background-color: #000;
       border: none;
       color: white;
       font-family: abel;
       font-size: 1em;
	   letter-spacing: 0.03em;
       text-transform: uppercase;
       padding-top: 0.3em;
       padding-bottom: 0.3em;
	   transition-property:background-color;
       transition-duration:0.5s;
   	   transition-timing-function: linear;
}

	button.subscribe-submit:hover {
	   background-color: #2ad4dc;
	   color:black;
	   cursor:pointer;
}

	input.subscribe-input {
       display: block;
       width: 100%;
       margin: auto;
	   margin-bottom: 2%;
	   height: 35px;
       text-indent: 3px;
       font-family: abel;
	   letter-spacing: 0.03em;
}
   
   
   /* Scroll Button */
    .scrollup {
		padding: 15px;
		text-align: center;
		background-color: rgba(0,0,0,.4);
		color: #FFF;
		text-decoration: none;
		position: fixed;
		z-index: 1500;
		bottom: 10px;
		right: 10px;
}

	.scrollup:hover{ 
		background-color:#333;
		transition:background .5s ease-in .3s;
		}


   /* Landing */

	body.landing #wrapper {
		padding-top: 0;
		}
	
	
	/*Login Page*/
	.page header#main {
    position: relative;
}

    .page h2{
    margin-bottom: 2em;
    font-size: 1.5em;
    font-family: abel;
	position: relative;
    z-index: 2;
}


	.form-container {
    display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60vh;
}

	form.login {
    display: inline-block;
	width:90%;
}

	.Login {
	align-self:center;
    width: 40%;
    display: inline-block;
	border-right:1px solid #333;
}


	input.user {
    display: block;
	width: 75%;
    margin: auto;
    margin-bottom: 0.5em;
	font-family: abel;
	text-indent:5px;
	height:2em;
	}
	
	input.pass {
    display: block;
	width: 75%;
    margin: auto;
    margin-bottom: 1em;
	font-family: abel;
	text-indent:5px;
	height:2em;
}

	
	button.join {
    display: block;
    margin: auto;
    color: white;
    background: black;
    border: none;
    font-family: abel;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 1em;
	transition:background 0.6s ease-in-out;
}

    button.join:hover{
	cursor:pointer;
	color:black;
	background:#2ad4dc;
	}
		

    button.sign {
    display: block;
    margin: auto;
	width:75%;
    color: white;
    background: black;
    border: none;
    font-family: abel;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0.3em;
	transition: background 0.6s ease-in-out;
	margin-bottom:0.5em;
}


	button.sign:hover{
	cursor:pointer;
	color:black;
	background:#2ad4dc;
	}


	.signup {
	align-self:center;
    width: 40%;
    display: inline-block;
}


	.page .footer{
		height:300px;
	}
	
	
	a.forgot {
    font-family: abel;
    letter-spacing: 1px;
    color: #040404;
	float: left;
    margin-left: 4.3em;
	}
	
	a.forgot:hover{
		color:#2ad4dc;
	}
	
	
	/* ICO Page */
	
canvas#reactive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
	
	
#particles-js {
  position: absolute;
  bottom:1px;
  width: 100%;
  background-color: #000;
}

canvas.particles-js-canvas-el {
    height: 400px !important;
}
	

.loading-icon {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/img/loading.gif') 50% 50% no-repeat #fff;
	overflow:hidden;
}
	
.title-container {
    margin-bottom: 0;
}
	

.phone-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    background-image: url(/img/test-phone2.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
	display:none;
}
	
	section#phone-reveal {
    width: 100%;
    height: 800px;
	position:relative;
}


	.index-section-wrap {
		height:100%;
    
}

  
  
  
  /* First Section */
  
  h2.one-header{
	  margin-bottom:5em;
  }
  
  .phone-reveal-container {
    width: 100%;
    height: 500px;
    text-align: center;
    margin:0 auto;
	display: flex;
    justify-content: center;
    align-items: baseline;
}

.phone-shells {
	width:50%;
	position:relative;
	height: 50px;
}

img.first {
    width: 100%;
}

.phone-description {
    display: flex;
	flex-wrap:wrap;
    justify-content:center;
	width:40%;
	height:100%;
}

.phone-layer1 {
    position: absolute;
    z-index: 1;
	bottom:30%;
	height: 100%;
	transition:bottom 1s ease-in-out;
	-moz-transition:bottom 1s ease-in-out !important;
	-webkit-transition:bottom 1s ease-in-out;
}

.phone-layer1:hover {
	bottom:120px;
}
	

.phone-layer2 {
    position: absolute;
	bottom:30%;
	height: 100%;
}


.phone-icons {
    display: inline-block;
    width: 50%;
}

img.crypto-icons {
    width: 50px;
	margin-bottom:2%;
	box-shadow: 4px 15px 32px rgba(0, 0, 0, 0.28);
	border-radius:50%;
}


  /* Nuke Button */
  
  #nuke-button {
		background-image: -moz-linear-gradient(top, rgba(1, 1, 1, 0.48), rgba(16, 16, 16, 0.79)), url("/img/nuke-background.jpg");
		background-image: -webkit-linear-gradient(top, rgba(1, 1, 1, 0.48), rgba(16, 16, 16, 0.79)), url("/img/nuke-background.jpg");
		background-image: -ms-linear-gradient(top, rgba(1,1,1,0.5), rgba(200,0,0,0.4)), url("/img/nuke-background.jpg");
		background-image: linear-gradient(top, rgba(1,1,1,0.5), rgba(200,0,0,0.4)), url("/img/nuke-background.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
		cursor: default;
		height: 100vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
		display:none;
	}
	
	#nuke-button h2{
		color:white;
	}
	
	
	/* Fiat Gateway */
	.fiat-container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
	margin:auto;
	margin-bottom:5%;
}


	.fiat-info {
    display: inline-block;
    width: 45%;
    align-self: center;
	margin:auto;
}

    p.fiat-header {
    font-size: 1.5em;
    letter-spacing: 2px;
	}

	.fiat-image-container {
    display: inline-block;
    width: 45%;
}

	.fiat-image{
		width:45%;
	}
	
	
	/* Telegram */
	
	section#telegram{
		background-image: -moz-linear-gradient(top, rgba(1, 1, 1, 0.7), rgba(16, 16, 16, 0.9)), url("/img/telegram-background.jpg");
		background-image: -webkit-linear-gradient(top, rgba(1, 1, 1, 0.7), rgba(16, 16, 16, 0.9)), url("/img/telegram-background.jpg");
		background-image: -ms-linear-gradient(top, rgba(1,1,1,0.7), rgba(16,16,16,0.9)), url("/img/telegram-background.jpg");
		background-image: linear-gradient(top, rgba(1,1,1,0.7), rgba(16,16,16,0.9)), url("/img/telegram-background.jpg");
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 0;
		cursor: default;
		height: 50vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
		
		
	}
	
	
	section#telegram h2 {
		color:white;
	}
	
	.telegram-container{
		width:100%;
		height:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
	}
	
	.telegram-image{
		text-align:Center;
		margin-left:auto;
		margin-right:auto;
	}
	
	.telegram-child-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
	
	p.telegram-text{
		margin-top:4%;
		margin-bottom:3em;
		color:white;
		font-size:1.3em;
	}
	
	
	a.telegram-button{
    color: white;
    font-family: abel;
    letter-spacing: 3px;
    padding: 12px 50px;
    background: transparent;
    border: 1px solid white;
    -webkit-transition: all ease 1s ;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

   a.telegram-button:hover{
	   color:black;
	   background:white;
   }
  

 /* Token Stats */
 
 section#token-stats {
    width: 100%;
    height: 500px;
    position: relative;
}
 
 .chart {
  position: relative;
    width: 350px;
    height: 350px;
    margin:auto;
	
}

.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-family:abel;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.doughnutTip::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}

.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}

.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 1.5em;
  font-family:abel;
  color:black;
  letter-spacing: .06em;
  
}

.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -5%;
  font-size: 1.5em;
  font-family:abel;
  color:black;
}

.chart path:hover {
  opacity: 0.65;
}

  /* Roadmap */
  section#roadmap{
	    
		padding-top: 0;
		cursor: default;
		overflow: hidden;
		position: relative;
		text-align: center;
		background:black;
  }
  
  img.roadmap-img{
	  width:75%;
  }


  /* Team */
  
  #team{
	 width: 100%;
	 height:100%;
    margin: 0 auto;
    position: relative;
	margin-bottom: 5%;
  }
  
  .team-container{
	  width:100%;
	  height:100%;
	  display:flex;
	  /*align-items: center;*/
      justify-content: center;
  }
	  
  
  .team-list{
	margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
  }
  
  .team-list li{
	width: 180px;
    height: 180px;
    display: inline-block;
    margin: 1%;
}
  
 

  .team-pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 0 rgba(0,0,0, 0.4), inset 0 0 0 0 rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-size: cover;
  }
  
  .team-pic:hover {
	  box-shadow: inset 0 0 0 110px rgba(0,0,0, 0.4), inset 0 0 0 0px rgba(1,1,1,1), 0 1px 2px rgba(0,0,0,0.1);
}
  
  .pic-info{
	  position: absolute;
	  top:70px;
	  color:white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
  }
  
  .pic-info h2{
    color:white;
	font-size:1em;
  }
  
  p.team-title {
    font-family: abel;
    letter-spacing: 1px;
	width:120px;
	margin:auto;
}
  
  
  .team-pic:hover .pic-info {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
  
 #pic1 {
	background-image:url("/img/josh.jpeg");
	background-position: 25px -2px;
    background-repeat: no-repeat;
	background-color: #f1ffff;
 }

 #pic2 {
	background-image:url("/img/xander.jpeg");
	background-position: -2px 10px;
    background-repeat: no-repeat;
 }
 
 #pic3 {
	background-image:url("/img/andy.jpeg");
	background-position: -5px 0px;
 }
 
 #pic4 {
	background-image:url("/img/alex.jpeg");
	background-position: -10px -40px;
 }
 
 #pic5 {
	background-image:url("/img/paul.jpeg");
	background-position: 5px 5px;
    background-repeat: no-repeat;
 }
	
	
	/* ALL MEDIA QUERIES */
	
@media screen and (max-width: 1500px) {
	
	section#phone-reveal {
    height: 100%;
    
   }
	
	.phone-reveal-container{
		display:inline-block;
		height:100%;
		
		
	}
	
	.phone-shells {
		width:100%;
		height:500px;
	}
		

	.phone-layer1 {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    height: 500px;
    left: 0;
    background-image: url(/img/shell-layer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	}
	
	.phone-layer2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 500px;
    background-image: url(/img/phone-shell.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	}
	
	img.first {
    
	display:none;
}


   .phone-description{
	   width:100%;
	   height:100%;
   }

   .phone-icons {
	   margin-bottom:4%;
	   margin-top:4%;
	   width:30%;
   }
	
	
}	
	
	

@media screen and (max-width: 1400px) {
	.liner a {
    font-size: 0.8em;
    padding: 1.3em;
}
}

@media screen and (max-width: 1370px) {
	
	table.meta td{
		font-size:0.9em;
	}
	
	
}


@media screen and (max-width: 1150px) {
	
	.logo-container img {
    width: 180px;
}
	
	
	.site-nav {
		top:1.95em;
		right:1em;
	}
	
	a.login-nav {
		padding:1em !important;
	}
	
	.site-nav li{
		margin-left:1em;
	}
	
	.why-box {
	width:40%;
	}
	
	.footercolumns {
    width: 95%;
	}
	
	.footercolumn {
    width: 45%;
}

	a.social {
		font-size:1em;
}

.phone-icons {
	   width:50%;
   }
   
   .team-list li {
    width: 140px;
    height: 140px;
   }
	
	.pic-info {
		top:40px;
	}
	
	.pic-info h2 {
		font-size:0.8em;
	}
	
	p.team-title {
		font-size:0.8em;
	}
}



@media screen and (max-width: 1000px) {
	
	header#main{
		position:relative;
	}
	
	#main-page .site-nav{
		right:0;
		top:0;
	}
	
	.appear .site-nav{
		top:0 !important;
	}
	
.logo-container img {
    width: 200px;
}
	
.menu-toggle {
		display:block;
	}
	
	.menu-toggle.open {
    position: fixed;
}

body.landing.landing-open{
	overflow:hidden;
}
	
	.site-nav {
	 display:flex;
     position: fixed;
     top: 0%;
     right: 0%;
	 background: rgba(10,10,10,0.9);
	 height: calc(100% + 60px);
     width: 100%;
     z-index: 100;
	 transform: translateX(100%);
	 transition:transform 0.9s ease-in-out;
}

.site-nav a{
	display:inline-block;
	color:#fff;
}

a.vert.active{
	text-indent:5px;
	border-left: 5px solid #2ad4dc;
	transition:text-indent 0.4s ease-in-out;
}

a.login-nav {
    color: black !important;
	background:#2ad4dc;
}

.site-nav ul{
	align-self:center;
}

.site-nav li{
	display:block;
	margin-bottom: 1em;
	margin-left:0.5em;
}

.site-nav--open {
	
    transform: translateX(60%);  
}

.site-nav--open ul{
	align-self:center;
}

.site-nav--open a {
	font-family:abel;
  color: #FFF;
  display: inline-block;
  letter-spacing:2px;
  padding:1.3em;
  text-transform: uppercase;
  text-decoration: none;
  text-align:center;
}

.site-nav--open a:hover{
	color:white;
}

a.vert:before,a.vert:after{
  height:0px;
}


.liner:before,.liner:after{
  width:0px;
}

form.subscribe-section{
	text-align:center;
}

input.input-section{
	width:50%;
	display:inline-block;
	margin-bottom:1em;
	text-align:center;
	text-indent:none;
}

button.submit-section{
	width:50%;
	display:inline-block;
}


section#three .merge{
		width:100%;
		background:transparent;
	}	

.half{
width:100%;
}	


.up-button{
	display:none;
}

 canvas#reactive {
	 display:none;
 }
 
 .fiat-container {
    flex-direction:column-reverse;
}


	.fiat-image-container {
    margin: auto;
    margin-bottom: 5%;
	width:65%;
}

.fiat-info {
    width: 90%;
 
}

}


@media screen and (max-width: 850px) {
	
	#banner{
	background-image:-webkit-linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	background-image:-moz-linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	background-image:-ms-linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	background-image:linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	}
	
	input.input-section {
	width:100%;
}

button.submit-section {
	width:100%;
}

.footercolumn {
    width: 80%; 
    display: block;
    margin-top: 4em;
	margin:auto
}

div#col1 {
	float:none;
}

div#col2 {
    float: none; 
    margin-top: 4em; 
}

.team-list li {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 3%;
}

.pic-info {
		top:70px;
	}
	
	.pic-info h2 {
		font-size:1em;
	}
	
	p.team-title {
		font-size:1em;
	}

}


@media screen and (max-width: 750px) {
	
	.site-nav--open {
	
    transform: translateX(50%);  
}
	
	section#three{
		padding:0.5em;
	}
	
	.half{
		padding:0;
	}
	
	h2.one-header {
    margin-bottom: 0;
}
	
	.fiat-image-container {
	width:90%;
}
	
	
	
}


@media screen and (max-width: 500px) {
	
	
	#banner{
	background-image:-webkit-linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	background-image:-moz-linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	background-image:-ms-linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	background-image:linear-gradient(top, rgba(1,1,1,0.8), rgba(5,5,5,0.4)), url("/img/blockchain.jpg");
	}
	
	#banner h2{
		font-size:2em;
	}
	
	#banner p {
		font-size:1em;
	}
	
	img.company{
		width:100%;
	}
	
	p#timer2{
		font-size:1em;
	}
	
	section#two .merge {
    width: 100%;
}
	
	.local p{
		font-size:0.6em;
	}
	
	.tab{
		font-size:0.6em;
	}
	
	label.accord {
		letter-spacing:0px;
	}
	
	.why-box {
	width:80%;
	}
	
	.why-box-content h2{
		text-align:center;
	}
	
.footercolumns {
    width: 100%;
	}
	
.footercolumn {
    width: 90%;
}

a#face {
    padding-left: 13px;
    padding-right: 13px;
}

a.social{
	padding:9px;
	font-size: 1em;
}
	
.powered {
		padding-top:2em;
}

.phone-icons {
	   margin-bottom:4%;
	   margin-top:4%;
	   width:100%;
   }
   
   .title-container h1 {
	   font-size:1.2em !important;
	
}










@media screen and (max-width: 1280px) {

				.wrapper > .merge {
					width: 90%;
				}

			}

	  @media screen and (max-width: 980px) {

				.wrapper > .merge {
					width: 100%;
				}

			}

.wrapper.alt {
			padding: 0;
		}

		

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 4em 3em 2em 3em ;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 2em 1em 2em ;
			}

		}
		
		
		
		
		
		
		@media screen and (max-width: 980px) {

	#four .merge {
				display: block;
				text-align: center;
			}

	#four .merge header {
					padding-right: 0;
					width: 100%;
				}

	#four .merge .actions {
					margin-left: auto;
					margin-right: auto;
					max-width: 20em;
					width: 100%;
				}

		}

	@media screen and (max-width: 736px) {

	#four .merge .actions {
				max-width: none;
			}

		}
		
		
		
		@media screen and (max-width: 736px) {

			header.tom {
				margin: 0 0 2em 0;
			}

		}

	@media screen and (max-width: 980px) {

		header br {
			display: none;
		}

	}
	
	
	
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
	a.vert:before,a.vert:after{
		height:0px;
}


	.liner:before,.liner:after{
		width:0px;
}

	.logo-container img{
		border:none;
	}
}