<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
		<rule name="extensionless" stopProcessing="true">
		          <match url="(.*)\.php$" />
		          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
		    </rule>
		    <rule name="removeextension" enabled="true">
		        <match url=".*" negate="false" />
		            <conditions>
		                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
		                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		                <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
		            </conditions>
		            <action type="Rewrite" url="{R:0}.php" />
		    </rule>
            </rules>
            <outboundRules>
                <rule name="remove php outbound">
                    <match filterByTags="A" pattern="(.*).php" />
                    <action type="Rewrite" value="{R:1}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
